* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-img {
    background-color: black;

}

/*Common Style*/
.common-btn {
    font-family: "Inter", sans-serif;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;

}

div {
    font-family: "Arimo", sans-serif;
    display: flex;
    gap: 13px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    list-style: none;
    padding: 12px 0;
}


ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    align-items: center;

}

ul li a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

/*Hero section style */
.hero-parent img {
    height: 786px;
    width: 100%;
    display: block;
}

.hero-conteiner {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-conteiner h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero-conteiner p {
    font-size: 22px;
    font-weight: 400;
}

.hero-conteiner button {
    margin-top: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

/*card section style */
.speakers {
    text-align: center;
}

.speaker-container {
    padding-top: 40px;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    float: left;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
}

.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;

}

.card-content {
    padding: 25px;
}

.card-content h5 {
    color: #2563eb;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card-content h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.card-content p {
    color: #666;
    font-size: 18px;
}

/*pricing section start*/
.pricing {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    text-align: center;
}

.pricing h1 {
    font-size: 60px;
    color: #17253A;
    margin-bottom: 15px;
}

.subtitle {
    color: #666;
    font-size: 22px;
    margin-bottom: 50px;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 18px;
    padding: 35px;
    text-align: left;
}

.active {
    background: #0F1D2E;
    color: #fff;
}

.card h4 {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.active h4 {
    color: #5BA4FF;
}

.card h2 {
    font-size: 60px;
    margin-bottom: 8px;
}

.price-text {
    color: gray;
    margin-bottom: 25px;
}

.active .price-text {
    color: #bbb;
}

hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 25px;
}

.active hr {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

ul {


    margin-bottom: 35px;
}

ul li {

    margin: 15px 0;
    color: #444;
    position: relative;
    padding-left: 18px;
}

ul li::before {

    content: "•";
    color: #2F66F3;
    position: absolute;
    left: 0;
}

.active li {
    color: #ddd;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.outline-btn {
    border: 2px solid #2F66F3;
    background: #fff;
    color: #2F66F3;
}



.outline-dark {
    border: 2px solid #17253A;
    background: #fff;
    color: #17253A;
}

button:hover {
    opacity: .9;
}

/*test section*/
.jobs-section {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 52px;
    color: #14213d;
    margin-bottom: 15px;
}

.section-title p {
    font-size: 18px;
    color: #6b7280;
    max-width: 750px;
    margin: auto;
    line-height: 1.7;
}

/* Grid */

.jobs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Card */

.job-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 18px;
    padding: 30px;
    transition: .3s;
}

.job-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .08);
}

.badge {
    display: inline-block;
    background: #eff6ff;
    color: #2563eb;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.job-card h3 {
    font-size: 28px;
    color: #14213d;
    margin-bottom: 10px;
}

.job-card h4 {
    font-size: 22px;
    color: #374151;
    margin-bottom: 20px;
}

.job-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    color: #6b7280;
}

.skills {
    margin-bottom: 25px;
}

.skills span {
    display: inline-block;
    background: #2563eb;
    color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.job-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.job-card button:hover {
    opacity: .9;
}

/* CTA */

.cta-box {
    margin-top: 70px;
    background: #14213d;
    color: #fff;
    text-align: center;
    padding: 50px 30px;
    border-radius: 20px;
}

.cta-box h3 {
    font-size: 38px;
    margin-bottom: 15px;
}

.cta-box p {
    max-width: 700px;
    margin: auto;
    color: #d1d5db;
    line-height: 1.7;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 16px 35px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/*footer style*/
.footer {
    background: #0f172a;
    color: #fff;
    padding: 50px 8%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo h2 {
    font-size: 32px;
    font-weight: 700;
}

.footer-logo span {
    color: #2563eb;
}

.social-links {
    display: flex;
    gap: 18px;
}

.social-links a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e293b;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.social-links a:hover {
    background: #2563eb;
    transform: translateY(-5px);
}

.footer hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 35px 0 25px;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    color: #94a3b8;
    font-size: 15px;
}